[submodule "themes/even"]
	path = themes/even
	url = https://github.com/billryan/hugo-theme-even.git
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
