language: node_js

node_js:
  - "stable"

before_install:
  # Install GitBook
  - npm install gitbook-cli -g
  - npm install svgexport -g
  - gitbook fetch 3.2.3

install:
  # Install GitBook dependencies
  - echo "install gitbook dependencies..."
  - gitbook install

script:
  - echo "build blog..."
  - gitbook build

before_deploy:
  # Set up git user name and tag this commit
  #- git config --local user.name "YOUR GIT USER NAME"
  #- git config --local user.email "YOUR GIT USER EMAIL"
  - git tag "$(date +'%Y%m%d_%H%M%S')-$(git log --format=%h -1)"
  - wget https://github.com/billryan/blog/files/1762412/original.tar.gz
  - tar xzvf original.tar.gz
  - rsync -aP original/ _book/
  - tar czvf blog.tar.gz _book/

deploy:
  - provider: releases
    api_key:
      secure: QU4B9CIPUdelYJKnS72SUjOY/9/w9+m536RX8Ex4PsKYMJHEIW7rkbP16ZAvMDoqiQkfPwpQSE8tFOBxMmkgGIgWY86o0xr022ak0iGICFCkjedEfNkKBENjOA8JoMlCx+QRyGcRJKuHBAy8WQU+PKykJDzJzadGNs0ud/+P75k=
    file: blog.tar.gz
    skip_cleanup: true
    on:
      branch: master
  - provider: pages
    skip-cleanup: true
    github-token:
      secure: QU4B9CIPUdelYJKnS72SUjOY/9/w9+m536RX8Ex4PsKYMJHEIW7rkbP16ZAvMDoqiQkfPwpQSE8tFOBxMmkgGIgWY86o0xr022ak0iGICFCkjedEfNkKBENjOA8JoMlCx+QRyGcRJKuHBAy8WQU+PKykJDzJzadGNs0ud/+P75k=
    keep-history: true
    local-dir: _book
    on:
      branch: master
    target-branch: gh-pages

# whitelist
branches:
  only:
    - master
