@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(../fonts/Source-Code-Pro-Light.woff2) format('woff2'), url(../fonts/Source-Code-Pro-Light.ttf) format('truetype'), url(../fonts/Source-Code-Pro-Light.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Source-Code-Pro.eot);
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/Source-Code-Pro.svg#SourceCodePro) format('svg'), url(../fonts/Source-Code-Pro.eot?#iefix) format('embedded-opentype'), url(../fonts/Source-Code-Pro.woff2) format('woff2'), url(../fonts/Source-Code-Pro.ttf) format('truetype'), url(../fonts/Source-Code-Pro.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url(../fonts/Source-Code-Pro-Bold.woff2) format('woff2'), url(../fonts/Source-Code-Pro-Bold.ttf) format('truetype'), url(../fonts/Source-Code-Pro-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Code Pro Black'), local('SourceCodePro-Black'), url(../fonts/Source-Code-Pro-Black.woff2) format('woff2'), url(../fonts/Source-Code-Pro-Black.ttf) format('truetype'), url(../fonts/Source-Code-Pro-Black.woff) format('woff');
}

